APScheduler==3.10.4
chromadb==0.5.5
click==8.1.7
fastapi==0.114.0
matplotlib==3.9.2
nltk>=3.9
numpy
openai==1.44.1
pandas==2.2.2
pydantic==2.9.1
pytest==8.3.2
python-dotenv==1.0.1
Requests==2.32.3
responses==0.25.3
scikit_learn==1.5.1
seaborn==0.13.2
streamlit==1.38.0
tenacity==8.5.0
tensorflow==2.15.0
uvicorn==0.30.6
